.min-text{
    font-size: 1rem;
}
.portada{
    background-image: url("../img/portada.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100vh; */
    width: 100%;
}

.bg-text{
    background: var(--section-bg-color);
    /* color: var(--p-color); */
    border-radius: var(--border-radius-large);
}

.bg-container{
    background-image: url(../img/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.bg-delete{
background-color: inherit;
}

.btn-con{
border-radius: 2rem;
}

/* tabs */
.container-tab {

    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  }
  
  .tab-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .tab-btn {
    width: 100%;
    border: 1px solid white; /* Modificado para agregar bordes de 1rem */
    color: #020617;
    background-color: #f0f8ff00;
    border-radius: 8px 18px 0px 0px;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .p-color-btn{
    color: #f2f3f7;
  }
  .tab-btn:hover {
    background-color: #a5b4fc87;
  }
  .tab-btn.active {
    background-color: #c7d2fe4d;
    border-bottom-style: none; /* Establecer el estilo del borde inferior como "none" */
  }
  
  .content-tab {
    display: none;
  }
  .content-tab.show {
    display: flex;
    gap: 14px;
    background-color: #c7d2fe4d;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid white; /* Modificado para agregar bordes de 1rem */
    border-top-style: none; /* Establecer el estilo del borde inferior como "none" */

    padding: 16px;
  }
  .content-description{
    color:#f2f3f7;
}
.content-description li{
  color:#f2f3f7;
}
  .content-tab svg {
    width: 50%;
    height: 200px;
  }
  .tm-nav-icon{
    color:#f2f3f7;
}
  .flex-tab{
      display: flex;
      align-items: center;
  }



  .content-tab-flex{
    display: flex;
  justify-content: center;
  align-items: center;
  }


  /* secciones */
  .container-section{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
/* btn inundacion */

.button-seccion {
  border: 1px solid white; /* Modificado para agregar bordes de 1px */
  color: #020617;
  background-color: #f0f8ff93;
  border-radius: 8px 18px 0px 0px;
  font-weight: 500;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px; /* Redondeado */
  font-size: medium; /* Tamaño mediano */
}

.button-seccion:hover {
  background-color: #a5b4fc87;
}
.content-buttons{
  display: flex;
  gap:1rem;
}
.img-ancho{
  width: 80rem;
}

footer{
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #03060B;
  position: relative;
    bottom: 0;
}
/* pc */

.content-tab-acercade{
  display: none!important; 
}

/* celular */

@media (max-width: 768px) {
.acomodar-items{
  top: 5rem!important;
}
.left-sub-items{
  margin-left: -3rem;
  
}
  .tab-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .tab-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    gap:1rem;
    border-radius: 18px;
    padding-top:1rem;
    padding-bottom: 0rem;
   

  }
  .fa-3x {
    font-size: 1em;
  }
  .content-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    }
    svg{
      display: none;
    
      }
      .img-ancho {
        display: none;
    }
    h1 {
      font-size: 1.5rem;
  }
  .mb-5 {
   margin-bottom: 0rem !important; 
}
.container-tab{
  display: none;
}
.content-tab-acercade{
  display: block!important; 
}
/*
  .tab {
      width: 90%; 
      padding-right: 1rem;
  
  }
  .tab_content{
    border-top: 1px solid white;
    border-radius: 18px 18px 18px 18px;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    margin-bottom: 2rem;
  }
  .button-seccion {
    border-bottom: 1px solid white;
    border-radius: 18px 18px 18px 18px;
  }
  .button-seccion:active {
    background-color: #a5b4fc87;
  }*/
}
.small{

  color: white !important;
  padding-bottom: 2rem;
}


