.min-text{
    font-size: 0.5rem;
}
.portada{
    background-image: url("../img/portada.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100vh; */
    width: 100%;
}

.bg-text{
    background: var(--section-bg-color);
    /* color: var(--p-color); */
    border-radius: var(--border-radius-large);
}

.bg-container{
    background-image: url(../img/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
body{
    background-image: url(../img/index.jpg)!important;
}






/* Estilos para el botón y el enlace */
details {
    summary {
      list-style: none;
    }
  }
  
  .collapsel {
    border: solid 1px var(--gray-lighter);
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    transition: background-color 0.25s;
    will-change: background-color;
  
  
  
    &:not(:last-child) {
      margin-bottom: var(--space-sm);
    }
  
    &:hover {
      background-color: var(--gray-lighter);
  
      .title:after {
        content: "🙂";
      }
    }
  
    &[open] {
      .title:after {
        content: "😍";
      }
    }
  }
  
  .title {
    cursor: pointer;
    font-weight: 600;
    padding: var(--space-sm);
    position: relative;
  
    &:after {
      content: "😴";
      position: absolute;
      right: var(--space-sm);
      transform: translatey(-50%);
      top: 50%;
    }
  }
  
  .descriptionl {
    border-top: var(--gray-light) solid 1px;
    font-size: 14px;
    line-height: 21px;
    padding: var(--space-sm);
  }
  
