#tm-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/index.jpg);
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  #tm-bg:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.z-index-negative {
  z-index: -1;
}

 .tab {
	
	 position: relative;
	 overflow: hidden;
	
	 width: 70%;
	 margin: 0 auto;
	 /* font-family: 'Roboto', sans-serif; */
	 
	 font-weight: bold;
	 color: #888;
	 -webkit-font-smoothing: antialiased;
   
   line-height: 1.9;
    letter-spacing: 1px;
    padding-left: 1rem;
  
}


.tab_content p {
  text-align: left; /* Para asegurar que los párrafos no se centren */
  color: #000000;
}
.img-center{
  display: flex;
  text-align: center!important; /* Para asegurar que los párrafos no se centren */
  justify-content: center!important;
  gap:1rem;
}
.center-button{
  justify-content: center;
  padding-top:1rem ;
  padding-bottom: 2rem;
}

.tab_content{
  background-color: #eeeff0d6;
  padding-left: 17px;
  padding-right: 17px;
 
  margin-bottom: 2rem;
  border-radius:  18px 18px 18px 18px; 
  border-top: 1px solid white; /* Modificado para agregar bordes de 1px */
  border-bottom: 1px solid white; /* Modificado para agregar bordes de 1px */
    border-left: 1px solid white; /* Modificado para agregar bordes de 1px */
    border-right: 1px solid white; /* Modificado para agregar bordes de 1px */
}
 .tabs {
	 display: table;
	 position: relative;
	 overflow: hidden;
	 margin:0;
	 width: 100%;
   margin-left: -2.5rem;
}


 .tabs li {
	 float: left;
	 line-height: 38px;
	 overflow: hidden;
	 padding: 0;
	 position: relative;
}
 .tabs a {

  background-color: #eeeff0d6;
	 color: #000000;
	 font-weight: 500;
	 display: block;
	 letter-spacing: 0;
	 outline: none;
	 padding: 0 20px;
	 text-decoration: none;
	 -webkit-transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	 transition: all 0.2s ease-in-out;

}

.tabs a:active {

  border-bottom: none;
 

}
 .tabs_item {

	 display: none;
	 padding: 15px 0;
}
 .tabs_item h4 {
	 font-weight: bold;
	 color: #000000;	 
	 font-size: 20px;
}
 .tabs_item img {
	 width: 200px;
	 float: left;
	 margin-right: 30px;
}
 .tabs_item:first-child {
	 display: block;
}
 .current a {
  background-color: #3f4757!important;
   color:#e9c46a;
}
 
.content-main-des{
    display: flex;
    justify-content: center;
}

.button-seccion {
    border-top: 1px solid white; /* Modificado para agregar bordes de 1px */
    border-left: 1px solid white; /* Modificado para agregar bordes de 1px */
    border-right: 1px solid white; /* Modificado para agregar bordes de 1px */
   
    color: #020617;
   
    border-radius: 18px 18px 0px 0px;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
    font-size: medium; /* Tamaño mediano */
  }
  
  .button-seccion:hover {
    background-color: #3f4757;
    
    border-bottom-style: none!important;
  }
  

  .h1-color{
    color: #fff;
    text-align: center;
    font-size: 2.8rem;
  }

 

  .h4-tam{
    font-size: 1.8rem!important;
  }
  .h2-tam{
    font-size: 1.6rem!important;
  }
  
  .content-description {
    color: #f2f3f7;
    font-family: "Arial", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.9;
    letter-spacing: 1px;
}


footer{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #03060B;
    color:#f2f3f7;
    display: flex;
    justify-content: center;
  }


/* celular */

@media (max-width: 768px) {
  .tabs_item h4 {
    font-size: 1.3rem!important;
 }
  .h1-color{
    font-size:1.5rem;
  }
  
    .h4-tam {
        font-size: 1.3rem!important;
    }
    .h2-tam{
      font-size: 1.1rem!important;
    }
    .content-description {
      font-size: 0.8rem!important;
    }

  .content-main-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  .tab {
      width: 70%; /* Cambiar el ancho al 100% en dispositivos móviles */
      padding-right: 1rem;
      line-height: 1.9;
      letter-spacing: 1px;
  
  }
  .tab_content{
    border-top: 1px solid white;
    border-radius: 18px 18px 18px 18px;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    margin-bottom: 2rem;
  }
  .button-seccion {
    border-bottom: 1px solid white;
    border-radius: 18px 18px 18px 18px;
  }
  .button-seccion:active {
    background-color: #3f4757!important;
  }
}

.tabs_item ul li .highlight-topografia {
  background-color: #e9c46a;
}

