:root {
  --secondary-color: #E9C46A;
  --bs-breadcrumb-divider-color: #6c757d;
  --bs-breadcrumb-divider: "/";
  --bs-breadcrumb-item-padding-x: 10px;
}
.navbar {
    background-color: black;
    color: white;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* padding: 10px 20px; */
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-around;
  }

  .menu{
    margin-top: 1rem!important;
    z-index: 99999!important;;
    position:unset!important;;
  }

  
  .bg-b{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap:1rem;
  }
  
  .back-button {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
  }
  
  .navbar-center {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .logo span {
    display: block;
  }
  
  .navbar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .breadcrumbs {
    margin-top: 80px; /* Ajusta según sea necesario */
    text-align: center;
    padding: 10px;
  }
  
  .breadcrumbs button {
    color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }

  button span{
    font-size: 1rem;
  }

  .mg-top{
  margin-top: 80px; /* Ajusta según sea necesario */
}
.margin-p{
  margin-top:0rem ;
  margin-bottom:0rem ;
  text-align: left;
}

.margen-b{
  margin-bottom:1rem ;
}
/*migas de pan */

.breadcrumb-content{
  display: flex;
    gap: 1rem;
    align-items: center;
}
.breadcrumb-item a {
  text-decoration:none;
  color: var(--secondary-color);
}

.active-item {
  color: rgba(240, 255, 255, 0.88) !important;
}
ol{
  list-style-type: none;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb-nav {
  display: block;
}

/* Estilos para ocultar el menú en dispositivos móviles */
@media only screen and (max-width: 720px) {
  .breadcrumb-nav {
      display: none;
  }
 
}